@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    --main-text-color: #D9F0FF;
    --background-colour:#7681B3;
    font-family: system-ui;
}
body{
    margin: 0px;
    padding: 0px;
}
h6{
    padding: 0px;
    margin: 0px;
}
/* Main Grid Display */

.main-grid{
    display: grid;
    width: 100vw;
    height: 100vh;
    /* background-color: aqua; */
    gap:10px;
    grid-template-columns: 300px 1fr 1fr 400px;
}


/* SIDEBAR CSS --------------------------------*/

/* Search Bar Style*/


.search-top-bar{
    display: grid;
    grid-template-columns: 1fr 300px;
    margin-top: 20px;
}

#profile-image{
    width: auto;
    border-radius: 100px;
    height: 75px;
}
.search-bar-container{
    padding-left: 50px;
    gap: 20px;
}
.search-bar-container > input{
    width: 80%;
    gap: 20px;
    background-color: #adadad64;
    border: none;
    height: 40px;
    border-radius: 50px;
}

.search-bar-container > input:focus{
    outline: none;
    padding-left: 10px;
}

.user-profile,.search-bar-container{
    display: flex;
    align-items: center;
}
.user-profile{
    gap: 30px;
    margin-left: 20px;
}



/* Search bar style */

.sidebar{
    grid-row: span 4;
    /* Background for side bar */
    background-color: #43389e;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.sidebar > svg{
    height: 40%;
    width: 40%;
}

.sidebar > .icon{
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 3px;    
}

.icon:hover{
    cursor: pointer;
    transition: cubic-bezier(1, 0, 0, 1);
    background-color: #adadad64;    
}

.sidebar > h3{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 30px;
}

.settings-button{
    margin-top: 3em;
}

.greeting-container{
    display: grid;
    grid-template-columns: 1fr 425px;
    margin-top: 20px;
}

.hi-there{
    display: flex;
    padding-left: 50px;
    align-items: center;
    gap: 20px;
}

.group-text{
    display: inline-block;
}

.greeting-buttons{
    display: flex;
    align-items: center;
    gap: 15px;
}
.greeting-buttons > button{
    padding: 5px 25px 5px 25px;
}


/* SIDEBAR CSS END ---------------------*/


.search-bar{
    grid-column: span 3;
}

.announce-trending{
    grid-template-rows: 300px 300px;
    grid-row: span 3;
    display: grid;
}

.projects{
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 4;
    grid-row-end: 5;
}

/* Projects CSS */

.projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;    
}

.info{
    padding: 40px;
    border-left: darkgoldenrod 10px solid;
    border-radius: 10px;
}

.trending-inner{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    justify-content: center;
    gap: 10px;
}

.content-pp{
    display: flex;
    align-items: center;
    gap: 30px;
}
.greeting-buttons > button {
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.greeting-buttons > button:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.greeting-buttons > button:active {
	position:relative;
	top:1px;
}





/* PROJECTS CSS END
 */